* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

html {
  font-family: Verdana, sans-serif;
  color: #d4a5a5;
  font-size: 16px;
}

body {
  margin: 0 auto;
  background-color: #f9ffea;
}

header, footer{
  text-align: center;
  padding: 2rem 1 rem;
  height: auto; 
  background-color: #a6d0e4;
  color: #f9ffea;
}

.navLogo {
  font-size: 3rem;
  font-weight: 700;
  padding: 10px;
  font-family: Georgia, serif;
  font-weight: 800;
  font-style: uppercase;
}

footer p {
  font-size: .8rem;
}

img {
  width: 100%;
  height: auto;
}

.blind-box {
  box-shadow: 0 1px 1px 0 rgba(212, 165, 165, 0.74);
  display: flex;
  flex-direction: column; 
  background-color: #f9ffea; 
  border-radius: 15px; 
  border: .15rem solid #a6d0e4; 
  padding: 1rem; 
  overflow: hidden;
}

.grid-container {
  display: grid; 
  grid-template-columns: repeat(2, minmax(200px, 1fr)); 
  justify-content: center; 
  grid-auto-rows: auto;
  grid-auto-rows: minmax(1fr, auto);
  gap: 2rem;
  padding: 4rem; 
}

.clock {
  display: inline;
  align-items: center; 
  margin: 0.5rem;
  width: 1rem; 
  height: 1rem;
}

.rarity {
  display: inline;
  font-weight: 600;
  letter-spacing: 0rem; 
  padding: 0px 5px 5px 5px; 
}

.description { 
  border-top: solid #a6d0e4;
  padding-top: 0.75rem; 
  line-height: 1.5;
}

.rare-class {
  display: flex; 
  align-items: center;
  gap: 0.15rem
}

.name {
  color: #a6d0e4;
  padding-top: 1.5rem;
  padding-bottom: 1rem; 
  
}
